@use '../base/_variables' as _variables;

.lf-title{
    line-height: _variables.$line-height-standard !important;
    background: _variables.$gray-11;
    padding: 30px 0;
    h3 {
        margin: 0 0 10px;
        line-height: _variables.$line-height-standard !important;
        color: _variables.$primary-color;
    }
    .breadcrumb{
        font-size: _variables.$font-size-2;
        padding: 0;
        background: none;
        border-radius: 0;
        margin-bottom: 0;
    }
}
